shorewall:
  etcdefault:
    startup: 1
    wait_interface: False
    options: ''
    startoptions: ''
    restartoptions: ''
    initlog: '/dev/null'
    safestop: 0

  ipv: # omit means 4 only. This controls wether shorewall or shorewall and shorewall6 is installed.
    - 4 # ipv4 support
    - 6 # ipv6 support. Cant' be used without ipv4!

  zones:
    mgmt:
      ipv: 4                        # This controls if this item is used for ipv4 and/or ipv6 shorewall. Omit for both.
      type: ipv4
      options:
      in_options:
      out_options:
      interfaces:
        eth0:
          ipv: 4
          options: tcpflags,logmartians,nosmurfs

  policy:
    fw-net:
      source: $FW
      dest: net
      policy: ACCEPT
    net-all:
      source: net
      dest: all
      policy: DROP
      loglevel: info
    zzz-all-all:
      source: all
      dest: all
      policy: REJECT
      loglevel: info
      burstlimit: 10/sec:40
      connlimit: 40/255.255.255.0

  rules:
      allow ssh:
        action: SSH(ACCEPT)
        source: all
        dest: all
        ipv: 4                          # Rule for ipv4
      allow ping:
        action: Ping(ACCEPT)
        source: all
        dest: $FW
        ipv: 6                          # Rule for ipv6

  stoppedrules:
    - action: ACCEPT
      dest: eth0
      ipv: 4

  params:
    NET_BCAST:
      value: "130.252.100.255"
      ipv: 4
