?FORMAT 2

{% macro delete_ipv4_options(options) %}
{%   set ipv4_only_options = ['arp_filter', 'arp_ignore', 'logmartians', 'nosmurfs', 'proxyarp', 'routefilter'] %}
{%   set ipv6_options = [] %}
{%   for option in options.split(',') if option not in ipv4_only_options %}
{%     do ipv6_options.append(option) %}
{%   endfor %}
{{ ','.join(ipv6_options) }}
{% endmacro %}
{% for zone_key, zone in salt['pillar.get']('shorewall:zones', {})|dictsort %}
  {% if zone.ipv is defined and zone.ipv != ipv %}{% continue %}{% endif %}
  {% for interface_key, interface in zone.get('interfaces', {})|dictsort %}
    {% if interface.ipv is defined and interface.ipv != ipv %}{% continue %}{% endif %}
    {% if ipv == 4 %}
{{ zone_key }} {{ interface_key }} {{ interface.get('options', '') }}
    {% else %}
{{ zone_key }} {{ interface_key }} {{ delete_ipv4_options(interface.get('options', '')) }}
    {% endif %}
  {% endfor %}
{% endfor %}
