{% for param_key, param in salt['pillar.get']('shorewall:params', {})|dictsort %}
  {% if param.ipv is defined and param.ipv != ipv %}{% continue %}{% endif %}
{{ param_key }}={{ param.get('value') }}
{%+ endfor %}
