{% for policy_key, policy in salt['pillar.get']('shorewall:policy', {})|dictsort %}
    {% if policy.ipv is defined and policy.ipv != ipv %}
        {% continue %}
    {% endif %}
{{ '#' + policy_key }}
{{ policy.get('source') }} {{ policy.get('dest') }} {{ policy.get('policy') }} {{ policy.get('loglevel', '-') }} {{ policy.get('burstlimit', '-') }} {{ policy.get('connlimit', '') }}

{% endfor %}
