{% set section = '?SECTION' %}
{% set sections = ['ALL', 'ESTABLISHED', 'RELATED', 'INVALID', 'UNTRACKED', 'NEW'] %}

{% for name in sections %}
{{ section }} {{ name }}
  {% for rule_key, rule in salt['pillar.get']('shorewall:rules:' + name|lower, {})|dictsort %}
    {% if rule.ipv is defined and rule.ipv != ipv %}{% continue %}{% endif %}
{{ rule.get('action') }} {{ rule.get('source', 'none') }} {{ rule.get('dest', 'none') }} {{ rule.get('proto', '-') }} {{ rule.get('destport', '-') }} {{ rule.get('sourceport', '-') }} {{ rule.get('originaldest', '-') }} 
  {% endfor %}
{% endfor %}
