STARTUP_ENABLED=Yes
VERBOSITY=1

LOG_LEVEL="info"
LOG_VERBOSITY=2
LOGFILE=systemd
LOGLIMIT="s:1/sec:10"
STARTUP_LOG=/var/log/shorewall-init.log

CONFIG_PATH=":${CONFDIR}/shorewall:${SHAREDIR}/shorewall"
PATH="/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin:/usr/local/sbin"
RESTOREFILE=restore

BLACKLIST_DEFAULT="Broadcast(DROP),Multicast(DROP),dropNotSyn:$LOG_LEVEL,dropInvalid:$LOG_LEVEL,DropDNSrep:$LOG_LEVEL"
DROP_DEFAULT="Broadcast(DROP),Multicast(DROP)"
REJECT_DEFAULT="Broadcast(DROP),Multicast(DROP)"

ACCOUNTING=No
ADD_IP_ALIASES=No
AUTOHELPERS=No
AUTOMAKE=Yes
BLACKLIST="NEW,INVALID,UNTRACKED"
COMPLETE=Yes
DETECT_DNAT_IPADDRS=No
DOCKER=No
DYNAMIC_BLACKLIST=No
EXPAND_POLICIES=Yes
EXPORTMODULES=Yes
FASTACCEPT=No
HELPERS=none
IP_FORWARDING=Keep
MACLIST_TABLE=filter
MANGLE_ENABLED=No
RESTART=restart
RESTORE_ROUTEMARKS=Yes
ROUTE_FILTER=Yes
TC_ENABLED=No
VERBOSE_MESSAGES=Yes
WORKAROUNDS=No
