{% for stoppedrule_key, stoppedrule in salt['pillar.get']('shorewall:stoppedrules', {})|dictsort %}
    {% if stoppedrule.ipv is defined and stoppedrule.ipv != ipv %}{% continue %}{% endif %}
{{ stoppedrule.get('action') }} {{ stoppedrule.get('source', '-') }} {{ stoppedrule.get('dest', '-') }} {{ stoppedrule.get('proto', '-') }} {{ stoppedrule.get('destport', '-') }} {{ stoppedrule.get('sourceport', '-') }}
{% endfor %}
