{% for zone_key, zone in salt['pillar.get']('shorewall:zones', {})|dictsort %}
    {% if zone.ipv is defined and zone.ipv != ipv %}{% continue %}{% endif %}
{{ zone_key }} {{ zone.get('type') }} {{ zone.get('options', '-') }} {{ zone.get('in_options', '-') }} {{ zone.get('out_options', '-') }}
{% endfor %}
